<h1>Recent Tweets</h1>

<% @tweets.each do |t| %>
	<div class="tweet">
		<p><%= link_to t.user.username, user_path(t.user) %> <span class="timestamp"><%= time_ago_in_words(t.created_at) %> ago</span></p>
		<p><%= t.body %></p>
	</div>
<% end %>