<h1>Recent Tweets</h1>

<% @tweets.each do |tweet| %>
	<div class="tweet">
		<li><%= link_to tweet.user.username, user_path(tweet.user) %> <span class="timestamp"><%= time_ago_in_words(tweet.created_at) %> ago</span></li>
		<li><%= tweet.body %></li>
	</div>
<% end %>

