@mixin headers-and-tweets {
	background-color: $off-white;
	border-radius: 15px 0;
	border-bottom: 1px solid $background-dark-2;
	border-right: 1px solid $background-dark-2;	
}

@mixin new-session-and-user-form {
	@include headers-and-tweets;
	padding: 10px 0;
}

// Helpful BOX-SIZING explanation here:
// http://css-tricks.com/almanac/properties/b/box-sizing/
// Used to keep the nav bar within the page.
// Without box-sizing, the link furthest right spilt off the page
@mixin box-sizing {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}