$off-white: #FFFEFD;
$off-black: #191919;
$background-main: #FFE3D1;
$background-light: lighten($background-main, 10%);
$background-dark-1: darken($background-main, 10%);
$background-dark-2: darken($background-main, 20%);

//////////////////////////////////////

html {
	// added so we can have sticky-footer
	position: relative;
	min-height: 100%;
}

body {
	margin: 0 0 50px;
	background-color: $background-main;
	color: $off-black;
}

main {
	width: 90%;
	margin: 15px auto;
}

footer {
	// position is 'absolute' for sticky-footer effect
	position: absolute;
	text-align: center;
	margin-top: 30px;
	height: 20px;
	bottom: 0;
	width: 100%;
}

a {
	text-decoration: none;
	color: $off-black;

	&:hover {
		color: $background-dark-2;
	}
}

li {
	list-style-type: none;
}

h1,h2,h3 {
	color: $off-black;
	text-align: center;
}

form input{
	display: block;
	margin: 10px auto;
}

.top-nav {
	@include box-sizing;
	width: 100%;
	padding: 5px;
	border-bottom: 1px solid $background-dark-2;
	font-size: 20px;
	background-color: $off-white;
	display: inline-block;

	.right {
		float: right;
		display: inline-block;

		a {
			margin-left: 20px;
		}
	}
}

.notice {
	text-align: center;
	color: $off-black;
}

.separated-links {
	@include headers-and-tweets;
	font-size: 30px;
	padding: 0 5px;
	display: block;
}