// Place all the styles related to the Tweets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.tweet {
	background-color: $background-dark-2;
	border: 2px solid lightblue;
	font-size: 30px;

	p {
		padding: 5px 0;
		margin: 5px;
	}

	.timestamp {
		font-size: 15px;
		font-style: italic;
	}
}