// Place all the styles related to the Tweets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.tweet {
	background-color: $off-white;
	border: 1px solid $background-dark-2;
	border-radius: 15px 0;
	font-size: 30px;
	margin: 3px 0;
	padding: 0 5px;

	p {
		padding: 0;
		margin: 5px;
	}

	.timestamp {
		font-size: 15px;
		font-style: italic;
	}
}